Repository untool/untool, pull requests merged in 2020-02, with the labels that each got.

#565 chore: remove rebase script
  scripts/rebase.sh
Labels: :package: master

#564 chore: add editorconfig
  .editorconfig
Labels: :package: master, :package: v1, :package: v2

#563 feat: support latest Node.js (v13)
  .travis.yml
  package.json
  packages/core/package.json
  packages/dist/package.json
  packages/express/package.json
  packages/info/package.json
  packages/react/package.json
  packages/webpack/package.json
  packages/yargs/package.json
Labels: :package: v2

#567 fix(webpack): have url-loader emit CommonJS syntax
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
  tests/snapshots/build-p.js.md
  tests/snapshots/build-p.js.snap
  tests/snapshots/build-ps.js.md
  tests/snapshots/build-ps.js.snap
  tests/snapshots/build-s.js.md
  tests/snapshots/build-s.js.snap
  tests/snapshots/build.js.md
  tests/snapshots/build.js.snap
  tests/snapshots/develop.js.md
  tests/snapshots/develop.js.snap
  tests/snapshots/start-p.js.md
  tests/snapshots/start-p.js.snap
  tests/snapshots/start-ps.js.md
  tests/snapshots/start-ps.js.snap
  tests/snapshots/start.js.md
  tests/snapshots/start.js.snap
Labels: :package: master, :package: v2

#568 fix(webpack): have url-loader emit CommonJS syntax
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
  tests/snapshots/build-p.js.md
  tests/snapshots/build-p.js.snap
  tests/snapshots/build-ps.js.md
  tests/snapshots/build-ps.js.snap
  tests/snapshots/build-s.js.md
  tests/snapshots/build-s.js.snap
  tests/snapshots/build.js.md
  tests/snapshots/build.js.snap
  tests/snapshots/develop.js.md
  tests/snapshots/develop.js.snap
  tests/snapshots/start-p.js.md
  tests/snapshots/start-p.js.snap
  tests/snapshots/start-ps.js.md
  tests/snapshots/start-ps.js.snap
  tests/snapshots/start.js.md
  tests/snapshots/start.js.snap
Labels: :package: v2

#573 fix(webpack): have file-loader imports emit CommonJS syntax
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
  tests/fixtures/untest/index.js
  tests/fixtures/untest/logo.svg
  tests/snapshots/build-p.js.md
  tests/snapshots/build-p.js.snap
  tests/snapshots/build-ps.js.md
  tests/snapshots/build-ps.js.snap
  tests/snapshots/build-s.js.md
  tests/snapshots/build-s.js.snap
  tests/snapshots/build.js.md
  tests/snapshots/build.js.snap
  tests/snapshots/develop.js.md
  tests/snapshots/develop.js.snap
  tests/snapshots/start-p.js.md
  tests/snapshots/start-p.js.snap
  tests/snapshots/start-ps.js.md
  tests/snapshots/start-ps.js.snap
  tests/snapshots/start.js.md
  tests/snapshots/start.js.snap
Labels: :package: master, :package: v2

#574 Release v2.1.2
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
  tests/fixtures/untest/index.js
  tests/fixtures/untest/logo.svg
  tests/snapshots/build-p.js.md
  tests/snapshots/build-p.js.snap
  tests/snapshots/build-ps.js.md
  tests/snapshots/build-ps.js.snap
  tests/snapshots/build-s.js.md
  tests/snapshots/build-s.js.snap
  tests/snapshots/build.js.md
  tests/snapshots/build.js.snap
  tests/snapshots/develop.js.md
  tests/snapshots/develop.js.snap
  tests/snapshots/start-p.js.md
  tests/snapshots/start-p.js.snap
  tests/snapshots/start-ps.js.md
  tests/snapshots/start-ps.js.snap
  tests/snapshots/start.js.md
  tests/snapshots/start.js.snap
Labels: :package: v2

#575 fix(react): set data-mounted attribute after hydration
  packages/react/mixins/mixin.browser.js
Labels: :package: master, :package: v2

#586 fix(core): allow to ignore certain presets through "ignoredPresets"
  packages/core/README.md
  packages/core/lib/loader.js
Labels: :package: v12
